body {
    font-family: serif;
    font-weight: 300;
    font-size: 14pt;
    color: #0c0f0a;
    background-color: #fadde1;
    padding: 10px 100px;
}

h1, h2 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

a {
    color: #ee4266;
}

pre {
    font-size: 12pt;
}
